.g-signin2{
	margin-left: 500px;
	margin-top: 200px;

}
.data{
	display: none;
}














/* Homepage.html */

body{

background: #e0e0e0;

}
.search-bar{
	position: fixed;
	display: inline-block;
	left: 50%;
	top:8px;
	transform: translateX(-50px);
	width: 95%;
	max-width: 344px;
	height: 48px;
	background:#fff;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	overflow: hidden;

}

.input{

	position: absolute;
	left:50px;
	transform: translateX(-50px);
	width: 250px;
	height: 40px;
	left:172px;
	margin:4px 0;
	border:0;
	border-radius: 0;
	outline: 0;
	box-sizing: border-box;
	font-size: 20px;          
}